html {
	background-color: #171717;
	font-size: 10px; 
	font-family: 'Antic Slab', serif;
	color: #ffffff;
	}
	
h1 {
	font-size: 80px;
	text-align: center;
	}

hr {
	border: 5px solid #ffffff;
	border-radius: 12px;
	margin-top: 30px;
	}
	
p {
	font-size: 50px;
	margin-left: 40px;
	}
	
body {
	width: 800px;
	margin: 80px auto;
	background-color: #171717;
	padding: 0 20px 20px 20px;
	border: 10px solid #ffffff;
	border-radius: 12px;
	}
	
li {
	font-size: 35px;
	margin-left: 40px;
	margin-bottom: 5px;
	}
	
img {
        width: 800px;
        height: 800px;
        margin: 40px auto;
        
	}

.footer {
	text-align: center;
	font-size: 20px;
	}
